<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="SitecoreFundamentals.AutoDictionary.CreationReportEmail.NewItem" value="New Item"/>
			<setting name="SitecoreFundamentals.AutoDictionary.CreationReportEmail.Key" value="Key"/>
			<setting name="SitecoreFundamentals.AutoDictionary.CreationReportEmail.ValueText" value="Value/Text"/>
			<setting name="SitecoreFundamentals.AutoDictionary.CreationReportEmail.Language" value="Language"/>
			<setting name="SitecoreFundamentals.AutoDictionary.CreationReportEmail.PageUrl" value="Page/Url"/>
		</settings>
		<scheduling role:require="Standalone or ContentManagement">
			<agent type="SitecoreFundamentals.AutoDictionary.Tasks.CreationReport, SitecoreFundamentals.AutoDictionary" method="Run" interval="00:05:00" />
		</scheduling>
		<events role:require="Standalone or ContentManagement">
			<event name="additemsave:remote">
				<handler type="SitecoreFundamentals.AutoDictionary.EventHandlers.AddItemSaveEventHandler, SitecoreFundamentals.AutoDictionary" method="OnAddItemSaveRemote"></handler>
			</event>
		</events>
		<sites>
			<site name="website" SitecoreFundamentalsAutoDictionaryEnabled="true"></site>
		</sites>
		<hooks role:require="Standalone or ContentManagement">
			<hook type="SitecoreFundamentals.AutoDictionary.EventHandlers.AddItemSaveHook, SitecoreFundamentals.AutoDictionary"></hook>
		</hooks>
		<pipelines>
			<getTranslation>
				<processor type="SitecoreFundamentals.AutoDictionary.Pipelines.GetTranslation.AutoCreate, SitecoreFundamentals.AutoDictionary"></processor>
			</getTranslation>
		</pipelines>
	</sitecore>
</configuration>